.pf1.sheet.actor .tab.spellbook .spellbook-configuration .spellbook-info h3 {
  font-size: 18px!important;
}

.application.pf1-v2 .window-content .radio {
    flex-direction: column;
}

.application.pf1-v2 .window-content .radio label {
    width: 65px;
}

.dialog .dialog-buttons{
    flex-direction: column;
    flex-wrap: nowrap;
}

.pf1alt.sheet.actor.character .sheet-header .race-container .race {
    flex: 0 0 40px!important;
}

.pf1alt.sheet.actor h4.box-title {
    font-size: 13px!important;
}

.pf1alt.sheet.actor .point-buy-button {
    flex: 0 130px!important;
}

.pf1alt.sheet.actor h2.block-header {
    font-size: 25px!important;
}