.pf1.sheet.actor .tab.spellbook .spellbook-configuration .spellbook-info h3 {
  font-size: 18px!important;
}

.application.pf1-v2 .window-content .radio {
    flex-direction: column;
}

.application.pf1-v2 .window-content .radio label {
    width: 65px;
}

.dialog .dialog-buttons{
    flex-direction: column;
    flex-wrap: nowrap;
}

.pf1alt.sheet.actor h4.box-title {
    font-size: 13px!important;
}
